PORT=3000
NODE_ENV=development
DATABASE_URL=postgres://user:password@hostname:port/database?sslmode=require
DB_PATH=./database.sqlite
ML_SEARCH_KEYWORD=geladeira, fogão, máquina de lavar
ML_CATEGORY=
CRON_CAPTURE_SCHEDULE=0 * * * *
CRON_PUBLISH_SCHEDULE=*/3 * * * *
WHATSAPP_TARGET_NUMBER=55XXXXXXXXXXX
WHATSAPP_TARGET_GROUP=Nome Do Grupo
ML_AFFILIATE_TAG=sua_tag_aqui
PUBLISH_START_TIME=08:00
PUBLISH_END_TIME=22:00
